@import '@/styles/mixins';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  margin-top: 50px;
}

.thumbnailContainer {
  overflow-x: auto;
  display: flex;
  gap: 10px;
}

.selectedThumbnail {
  border: 3px solid var(--color-accent-500);
  box-shadow: 3px 25px 40px var(--color-accent-100);
}

.thumbnail {
  cursor: pointer;

  display: flex;
  flex: none;
  justify-content: center;

  width: 65px;
  height: 65px;

  border-radius: 10%;

  &:hover {
    box-shadow: 15px 15px 10px var(--color-accent-100);
  }
}

.button {
  cursor: pointer;

  display: inline-block;

  padding: 5px 12px;

  font-size: 16px;
  color: var(--color-success-900);
  text-align: center;
  text-decoration: none;

  background-color: var(--color-dark-100); /* Green */
  border: none;
  border-radius: 5px;
}

.modalImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;

  object-fit: cover;
}

.button {
  @include button-styles;
}
